
Django==4.2.5
django-apscheduler==0.6.0
feedparser==6.0.10
psycopg2-binary==2.9.6
celery==5.3.4
redis==5.0.1
django-crispy-forms==2.0
crispy-bootstrap5==0.7
django-allauth==0.50.0
environs[django]==9.5.0
pillow==10.0.1
django-debug-toolbar==4.2.0
whitenoise==6.5.0
gunicorn==21.2.0
